.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 480px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}
