.box {
  text-align: center;
}

.text {
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .text {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .text {
    font-size: 36px;
  }
}
