.form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--container-padding);
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.field {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: all 0.2s ease;
}

.field:focus {
  border: 2px solid var(--color-primary-hover);
}

.button {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease;
}
.button:hover {
  background-color: var(--color-primary-hover);
}

@media (min-width: 768px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
  .button {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .form {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  .button {
    grid-column: auto;
  }
}
