*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* BASE VARIABLES */
:root {
  --color-bg: #ffffff;
  --color-text: #213547;
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;

  --container-padding: 16px;
  --max-width: 1200px;
  --transition-delay: 0.25s ease-in 0.25s;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* BODY */
body {
  min-width: 320px;
  min-height: 100vh;
}

/* HEADINGS */
h1 {
  font-size: 2rem;
  line-height: 1.2;
}

button {
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.25s;
}